---
import Layout from "@/layouts/Layout.astro"
import ColeccionCard from "@/components/ColeccionItem.astro"
import PopUp from "@/components/PopUp.astro"
import "@/css/gridShowroom.css"
import data from "@/assets/data.json"
const productos = data.accesorios

--- 

<Layout title="Mae - Colecciones niña">
    <div class="productos">
        {productos.map(producto => (<ColeccionCard id={producto.id}, name={producto.name}, descr={producto.descr}/>))}
       
    </div>

    <PopUp/>
<script src="/src/js/colecciones.js"></script>
</Layout>