---

---
<header id="header">
    <nav class="navbar">
        <div class="menu-toggle">&#9776;</div>
        <a href="./" id="foto-movil"><img src="./mae-moda.svg"/></a>
        <ul>
            <li><a href="#">Acerca</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
                <a href="./" id="foto"><img src="./mae-moda.svg"/></a>
            </li>
            <li>
                <div class="dropdown">
                    <p class="dropbtn">Colecciones</p>
                    <div class="dropdown-content">
                        <a href="./coleccion-mujer">Mujer</a>
                        <a href="./coleccion-niña">Niña</a>
                        <a href="./accesorios">Accesorios</a>
                    </div>
                </div>
            </li>
            <li><a href="./favoritos.html">Favoritos</a></li>
        </ul>
    </nav>
</header>